* {
  padding: 0;
  margin: 0;
  text-align: justify;
  font-family: "Nunito", sans-serif;
}

/*Comienzo de las propiedades en común*/

:is(.header, .section_index_1 > article, .section_index_2 > article) {
  display: grid;
}

:is(header, nav, ul, section, .pres_img, .section_index_2 > article, .section_index_2 > article > span, .caract_icon, .section_index_3 > article, .section_index_3 div a, .section_nosotros_1 > article, .m_v_v, .section_nosotros_2 > article, .section_proyecto span, .section_proyecto span > div) {
  display: flex;
}

:is(header, nav, ul, section, .pres_img, .caract_icon, .section_index_3 div a, .section_proyecto span > div) {
  justify-content: center;
}

:is(header, nav, .section_index_2>article>span, .caract_icon) {
  align-items: center;
}

:is(.section_index_3 span, .section_nosotros_1 > article, .section_nosotros_2 > article) {
  flex-direction: column;
}

:is(.section_index_3 > article, .m_v_v, .section_proyecto span) {
  flex-direction: row;
}

:is(header, .pres_img) {
  grid-column: 1;
}

:is(.pres_txt) {
  grid-column: 2;
}

:is(footer > p, .pres_txt > h1, .section_index_3 h2, .section_nosotros_1 h2, .m_v_v h3, .section_nosotros_2 h2, .section_proyecto h2, .section_proyecto h3, .section_proyecto article p, .section_proyecto article > h4) {
  text-align: center;
}

/*Fin de las propiedades en común*/
/*-----------------------------------------------------------------------------------*/
/*Comienzo del header y nav*/

.header {
  grid-template-columns: 30% auto 50%;
  height: 8rem;
  background-color: #0096c7;
  box-shadow: 0 0 10px #000;
}

header>img {
  width: 30%;
}

nav {
  grid-column: 3;
}

ul {
  gap: 2rem;
}

li {
  list-style: none;
}

nav a {
  color: #fff;
  font-size: 125%;
  font-weight: 800;
  transition: 550ms;
}

nav a:hover {
  font-size: 150%;
  transition: 550ms;
}

a {
  color: #000;
  text-decoration: none;
}

/*Fin del header y nav*/
/*-----------------------------------------------------------------------------------*/
/*Comienzo del main*/

main {
  position: relative;
  margin: 20px 0 20px 0;
}

/*Inicio Página index.html*/
/*Creación de la presentación*/
.section_index_1>article {
  grid-template-columns: repeat(2, 50%);
}

.pres_txt>h1 {
  font-size: 300%;
}

article>.pres_img>img {
  width: 70%;
}

/*Fin de la creación de la presentación*/

/*Creación de la fila de las características de la empresa*/
.section_index_2 {
  background-color: #dbdbdb;
  padding: 1% 0px 1% 0px;
}

.section_index_2>article {
  grid-template-columns: repeat(3, 33%);
}

.section_index_2>article {
  gap: 3%;
}

.section_index_2>article>span {
  gap: 2%;
}

.caract_icon {
  position: relative;
  width: 30%;
  height: auto;
}

.caract_icon>img {
  position: absolute;
  width: 3rem;
  height: 3rem;
}

.section_index_2>article>span {
  flex-direction: row;
}

/*Fin de la creación de la fila de las características de la empresa*/

/*Inicio de la creación de las cards de los diferentes trabajos*/

.section_index_3 img {
  width: 75%;
}

.section_index_3 a {
  transition: 550ms;
}

.section_index_3 a:hover {
  transition: 500ms;
  opacity: 0.5;
}

/*Fin de la creación de las cards de los diferentes trabajos*/
/*Fin Página index.html*/

/*Inicio página nosotros.html*/
/*Inicio de creación de .section_nosotros_1*/

.section_nosotros_1 div {
  margin-bottom: 1%;
}

.section_nosotros_1 h2,
.section_nosotros_2 h2 {
  font-size: 200%;
}

.m_v_v {
  gap: 2%;
}

.section_nosotros_2 span {
  margin-bottom: 2%;
  padding: 1%;
  box-shadow: 0 0 10px #000;
}

.section_nosotros_2 img {
  width: 20%;
  
}

.span_gonzalo img {
  float: left;
  margin-right: 2%;
}

.span_carolina img {
  float: right;
  margin-left: 2%;
}


/*Fin de creación de .section_nosotros_1*/
/*Fin página nosotros.html*/

/*Inicio de la página Proyecto*/
/*Inicio de la seccion de fotografía*/

.section_proyecto img {
  width: 60%;
  box-shadow : 10px 0px 5px 1px #979696;
}

.section_proyecto h2{
  font-size: 2rem;
}

.section_proyecto h3{
  font-size: 1.4rem;
}

.section_proyecto hr{
  margin: 2% 0 2% 0;
  color: #0000006b;
}
/*fin de la seccion de fotografía*/
/*Fin de la página Proyecto*/

/*Fin del main*/
/*-----------------------------------------------------------------------------------*/
/*Comienzo del footer*/

footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  color: white;
}

/*Fin del footer*/


/*General*/

section {
  margin: 2% 0 2% 0;
}

article {
  max-width: 80%;
  width: 100%;
}

/*Media queries*/
@media (max-width: 1399px) {
  header>img {
    width: 40%;
  }
}

@media (max-width: 1099px) {
  .header {
    grid-template-columns: 40% auto 60%;
  }

  nav a {
    font-size: 1rem;
    font-weight: 800;
  }

  nav a:hover {
    font-size: 1.2rem;
  }

  .section_nosotros_2 span img {
    width: 30%;
  }

}

@media (max-width: 799px) {
  .section_nosotros_2 span img {
    width: 40%;
  }
}