* {
  padding: 0;
  margin: 0;
  text-align: justify;
  font-family: "Nunito", sans-serif;
}

/*Comienzo de las propiedades en común*/

:is(.header, .section_index_1 > article, .section_index_2 > article, .section_index_2 > article > span) {
  display: grid;
}

:is(header, nav, ul, section, .pres_img) {
  display: flex;
}

:is(header, nav, ul, section, .pres_img) {
  justify-content: center;
}

:is(header, nav) {
  align-items: center;
}

:is(header, .pres_img) {
  grid-column: 1;
}

:is(.pres_txt) {
  grid-column: 2;
}

:is(footer > p, .pres_txt > h1) {
  text-align: center;
}

/*Fin de las propiedades en común*/
/*-----------------------------------------------------------------------------------*/
/*Comienzo del header y nav*/

.header {
  grid-template-columns: 20% auto 45%;
  height: 8rem;
  background-color: #0096c7;
  box-shadow: 0 0 10px #000;
}

header > img {
  width: 50%;
}

nav {
  grid-column: 3;
}

ul {
  gap: 2rem;
}

li {
  list-style: none;
}

nav a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  transition: 550ms;
}

nav a:hover {
  font-size: 1.5rem;
  transition: 550ms;
}

a {
  color: #000;
  text-decoration: none;
}

/*Fin del header y nav*/
/*-----------------------------------------------------------------------------------*/
/*Comienzo del main*/


/**/
main {
  position: relative;
  margin: 20px 0 20px 0;
}

.section_index_1 > article {
  grid-template-columns: repeat(2, 50%);
}

.pres_txt > h1{
    font-size: 300%;
}

article > .pres_img > img {
  width: 70%;
}

.section_index_2 > article{
    grid-template-columns: repeat(3, 33%);
}

/*Fin del main*/
/*-----------------------------------------------------------------------------------*/
/*Comienzo del footer*/

footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

/*Fin del footer*/


/*General*/

section{
    margin: 2% 0 2% 0;
}

article {
  max-width: 80%;
}

img{
    aspect-ratio: 16/9;
}